<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styleAdmin.css">
</head>

<body>
    <!--header th:replace="components/menu_admin"></header-->
    <header th:replace="~{components/menu_admin(activeMenu=${activeMenu}, usuarioEmail=${usuarioEmail}, usuarioRol=${usuarioRol})}"></header>


    <div class="container">
        <h1>Bienvenido al Panel de Administración</h1>
        <p>Seleccione una opción del menú para comenzar a administrar el sistema.</p>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const urlParams = new URLSearchParams(window.location.search);
            const tokenFromUrl = urlParams.get("token");

            if (tokenFromUrl) {
                localStorage.setItem("token", tokenFromUrl);
                console.log("Token guardado desde URL:", tokenFromUrl);
            }

            const token = localStorage.getItem("token");
            console.log("Token en localStorage:", token);

            if (!token) {
                window.location.href = "/no-autorizado";
                return;
            }

            fetch("/admin/api/verificar-admin", {
                headers: { "Authorization": "Bearer " + token }
            })
                .then(res => {
                    if (!res.ok) {
                        window.location.href = "/no-autorizado";
                    } else {
                        console.log("✔ Acceso permitido");
                    }
                })
                .catch(() => {
                    window.location.href = "/no-autorizado";
                });
        });

    </script>
</body>

</html>