<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios | ADM</title>
</head>
<body>
    <header th:replace="components/menu_admin" class="headers"></header>

    <aside class="aside_servicios">
        <!--Menu para mostrar los servicios-->
        <!--Botones para cambiar los funcionamientos de los servicios-->

    </aside>

    <section class="section_servicios">
        <!--Contenedor donde se muestran los servicios-->
        <!--Muestra los servicios que se ofrecen, -->
        


    </section>
</body>
</html>